{% if section.settings.calendar %}
  {{ 'fullcalendar.min.css' | asset_url | stylesheet_tag }}
{% endif %}
{{ 'section-sidebar.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .sidebar + .sidebar {
    margin-top: 3rem;
  }
  #calendar {
    margin-top: 2rem;
  }
  .fc .fc-toolbar-title {
    font-size: 1.6rem;
  }
  .fc .fc-button {
    font-size: 1rem;
  }
  .fc .fc-button .fc-icon {
    font-size: 1.2rem;
  }
  .fc .fc-daygrid-day.fc-day-today {
    background: var(--fc-today-bg-color, rgb(255, 220, 40));
  }
  .fc .fc-bg-event {
    background: rgba(var(--meito), 0.8);
  }
  .fc .fc-bg-event .fc-event-title {
    color: transparent;
  }
  .holiday {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  .holiday span {
    display: inline-block;
    width: 30px;
    height: 24px;
    background: rgba(var(--meito), 0.8);
    opacity: 0.3;
  }
{%- endstyle -%}

<!-- BEGIN sections: sidebar-group -->
<div class="sidebar">
  <span class="h3">ブランドで探す</span>
  {%- if section.settings['brand-menu'] != blank -%}
    <nav class="sidebar__inline-menu">
      <ul class="list-menu" role="list">
        {%- for link in section.settings['brand-menu'].links -%}
          <li>
            {% comment %} リンク {% endcomment %}
            {%- if link.links != blank -%}
              <header-menu>
                <details
                  id="Details-SideMenu-{{ forloop.index }}"
                  class=""
                  {%- if link.child_active -%}
                    open
                  {%- endif -%}
                >
                  <summary
                    id="SideMenu-{{ link.handle }}"
                    class="sidebar__menu-item list-menu__item link focus-inset"
                  >
                    <span
                      {%- if link.child_active %}
                        class="sidebar__active-menu-item"
                      {% endif %}
                    >
                      {{- link.title | escape -}}
                    </span>
                    {% render 'icon-caret' %}
                  </summary>

                  <div
                    id="SideMenu-Content-{{ forloop.index }}"
                    class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                    tabindex="-1"
                  >
                    <ul
                      class="side-menu__list page-width{% if link.levels == 1 %} side-menu__list--condensed{% endif %}"
                      role="list"
                    >
                      {% comment %} 子階層 {% endcomment %}
                      {%- for childlink in link.links -%}
                        <li>
                          <a
                            id="SideMenu-{{ link.handle }}-{{ childlink.handle }}"
                            href="{{ childlink.url }}"
                            class="side-menu__link side-menu__link--level-2 link{% if childlink.current %} sidebar__active-menu-item{% endif %}"
                            {% if childlink.current %}
                              aria-current="page"
                            {% endif %}
                          >
                            {{ childlink.title | escape }}
                          </a>
                          {% comment %} 子階層がなかったら {% endcomment %}
                          {%- if childlink.links != blank -%}
                            <ul class="list-unstyled" role="list">
                              {%- for grandchildlink in childlink.links -%}
                                <li>
                                  <a
                                    id="SideMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                    href="{{ grandchildlink.url }}"
                                    class="side-menu__link link{% if grandchildlink.current %} sidebar__active-menu-item{% endif %}"
                                    {% if grandchildlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ grandchildlink.title | escape }}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          {%- endif -%}
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                </details>
              </header-menu>

              {% comment %} 子階層がなかったら {% endcomment %}
            {%- else -%}
              <a
                id="SideMenu-{{ link.handle }}"
                href="{{ link.url }}"
                class="sidebar__menu-item list-menu__item link link--text focus-inset"
                {% if link.current %}
                  aria-current="page"
                {% endif %}
              >
                <span
                  {%- if link.current %}
                    class="sidebar__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
              </a>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    </nav>
  {%- endif -%}
</div>
<!-- /.sidebar -->

<div class="sidebar">
  <span class="h3">カテゴリーで探す</span>
  {%- if section.settings['category-menu'] != blank -%}
    <nav class="sidebar__inline-menu">
      {%- for link in section.settings['category-menu'].links -%}
        <ul class="list-menu" role="list">
          <li>
            {% comment %} 子階層があったら {% endcomment %}
            {%- if link.links != blank -%}
              <header-menu>
                <details
                  id="Details-SideMenu-{{ forloop.index }}"
                  class=""
                  {%- if link.child_active -%}
                    open
                  {%- endif -%}
                >
                  <summary
                    id="SideMenu-{{ link.handle }}"
                    class="sidebar__menu-item list-menu__item link focus-inset"
                  >
                    <span
                      {%- if link.child_active %}
                        class="sidebar__active-menu-item"
                      {% endif %}
                    >
                      {{- link.title | escape -}}
                    </span>
                    {% render 'icon-caret' %}
                  </summary>

                  <div
                    id="SideMenu-Content-{{ forloop.index }}"
                    class="side-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                    tabindex="-1"
                  >
                    <ul
                      class="side-menu__list page-width{% if link.levels == 1 %} side-menu__list--condensed{% endif %}"
                      role="list"
                    >
                      {% comment %} リンク {% endcomment %}
                      {%- for childlink in link.links -%}
                        <li>
                          <a
                            id="SideMenu-{{ link.handle }}-{{ childlink.handle }}"
                            href="{{ childlink.url }}"
                            class="side-menu__link side-menu__link--level-2 link{% if childlink.current %} side-menu__link--active{% endif %}"
                            {% if childlink.current %}
                              aria-current="page"
                            {% endif %}
                          >
                            {{ childlink.title | escape }}
                          </a>
                          {% comment %} 子階層 {% endcomment %}
                          {%- if childlink.links != blank -%}
                            <ul class="list-unstyled" role="list">
                              {%- for grandchildlink in childlink.links -%}
                                <li>
                                  <a
                                    id="SideMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                    href="{{ grandchildlink.url }}"
                                    class="side-menu__link link{% if grandchildlink.current %} side-menu__link--active{% endif %}"
                                    {% if grandchildlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ grandchildlink.title | escape }}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          {%- endif -%}
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                </details>
              </header-menu>
              {% comment %} 子階層がなかったら {% endcomment %}
            {%- else -%}
              <a
                id="SideMenu-{{ link.handle }}"
                href="{{ link.url }}"
                class="sidebar__menu-item list-menu__item link link--text focus-inset"
                {% if link.current %}
                  aria-current="page"
                {% endif %}
              >
                <span
                  {%- if link.current %}
                    class="sidebar__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
              </a>
            {%- endif -%}
          </li>
        </ul>
      {%- endfor -%}
    </nav>
    <!-- /.sidebar__inline-menu -->
  {%- endif -%}
</div>
<!-- /.sidebar -->

{% if section.settings.calendar %}
  <div class="calendar">
    <div class="sidebar__inline-menu">
      {%- if section.settings['calender-title'] != blank -%}
        <span class="h3">{{- section.settings['calender-title'] | escape -}}</span>
      {%- endif -%}
      <div id="calendar"></div>
      <p class="holiday"><span></span>&nbsp;名東店定休日</p>
    </div>
  </div>

  <script src="{{'fullcalendar.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{'fullcalendar.ja.js' | asset_url }}" defer="defer"></script>
  <script defer="defer">
    document.addEventListener('DOMContentLoaded', () => {
      const calendarEl = document.getElementById('calendar');

      const calendar = new FullCalendar.Calendar(calendarEl, {
        googleCalendarApiKey: 'AIzaSyB7JY4my_rmnvrlEN1dfWfPlJrHQgdxKTg',
        initialView: 'dayGridMonth',
        locale: 'ja',
        fixedWeekCount: false,
        contentHeight: 'auto',
        aspectRatio: 1,
        headerToolbar: {
          left: '',
          center: 'title',
          right: 'prev,today,next',
        },
        buttonText: {
          today: '今月',
          month: '月',
        },
        eventSources: [
          {
            googleCalendarId:
              '791504e8a1801afd63e92f4b7a1d26ade8e2ac427a5d44c0914e6b19bcc291df@group.calendar.google.com',
            display: 'background',
            classNames: 'gcal-event',
          },
        ],

        dayCellContent: function (e) {
          e.dayNumberText = e.dayNumberText.replace('日', '');
        },
      });

      calendar.render();
    });
  </script>
{% endif %}

{% schema %}
{
  "name": "t:sections.sidebar.name",
  "tag": "aside",
  "class": "side-bar",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "link_list",
      "id": "brand-menu",
      "label": "t:sections.sidebar.settings.brand-menu.label"
    },
    {
      "type": "link_list",
      "id": "category-menu",
      "label": "t:sections.sidebar.settings.category-menu.label"
    },
    {
      "type": "header",
      "content": "t:sections.sidebar.settings.calendar.settings.header.content"
    },
    {
      "type": "text",
      "id": "calender-title",
      "label": "t:sections.sidebar.settings.calendar.settings.calendar-title.label"
    },
    {
      "type": "checkbox",
      "id": "calendar",
      "label": "t:sections.sidebar.settings.calendar.label"
    }
  ]
}
{% endschema %}
<!-- End sections: sidebar-group -->
